body{
    border: 0px;
    margin: 0px;
}
.div-pesquisa .form-consulta{
    width: auto;
    height: 500px;
    border: 1px solid black;
    transform: -50% 50%;
}

.div-pesquisa .form-consulta #cidade-consulta{
    width: 100%;
    height: 30px;
}
.div-pesquisa form .button-submit{
    width: 300px;
}